In [27]:
import pandas as pd
import sqlalchemy 
import psycopg2

In [13]:
host = 'localhost'
user = 'nestorjr'
password = '123456'
dbname = 'pasteles'
port = str(5432)

In [21]:
stringEngine = 'postgres://' + user + ":" + password + "@" + host + ":" + port + "/" + dbname
stringEngine

'postgres://nestorjr:123456@localhost:5432/pasteles'

Creando la conexion

In [22]:
engine = sqlalchemy.create_engine(stringEngine)

Consulta de Datos

In [23]:
query = "SELECT * FROM pasteles"

Creando la Data

In [25]:
data = pd.read_sql(query, engine)

In [ ]:
pd.read_sql_query

In [26]:
data

   id cliente      sabor   tama単o            color
0   1   Maria    MAnzana    Chico             Azul
1   4    Pepe  Chocolate  Mediano           Blanco
2   5    Luis   Vainilla  Peque単o  Amarillo y rojo
3   6  Sergio      Fresa   Grande            Negro