<a href="https://colab.research.google.com/github/nestorjuarezR/Data_Science/blob/main/Proyecto3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import gzip

In [1]:
def parse(path):
    g = gzip.open(path, 'r')
    for l in g:
        yield eval(l)

In [5]:
url_review = '/content/drive/My Drive/Data/steam_reviews.json.gz'

In [6]:
contador = 0
data_reviews = []
# Vamos a guardar una de cada 10 reviews para no llenar la memoria RAM. Si pones n = 3, 
# abrira uno de cada tres, y asi.
n = 10
for l in parse(url_review):
    if contador%n == 0:
        data_reviews.append(l)
    else:
        pass
    contador += 1

In [7]:
data_reviews = pd.DataFrame(data_reviews)

In [8]:
data_reviews.head(2)

      username  hours  products  ... user_id  compensation found_funny
0  Chaos Syren    0.1      41.0  ...     NaN           NaN         NaN
1      Ariman1   13.2    1386.0  ...     NaN           NaN         NaN

[2 rows x 12 columns]

In [11]:
data_reviews.shape

(779307, 12)

In [12]:
data_reviews.dtypes

username         object
hours           float64
products        float64
product_id       object
page_order        int64
date             object
text             object
early_access       bool
page              int64
user_id          object
compensation     object
found_funny     float64
dtype: object

In [14]:
#Porcentaje de valores nulos
data_reviews.isnull().sum() / data_reviews.shape[0] * 100

username         0.000000
hours            0.338378
products         0.200948
product_id       0.000000
page_order       0.000000
date             0.000000
text             0.000000
early_access     0.000000
page             0.000000
user_id         59.279206
compensation    98.128080
found_funny     84.580659
dtype: float64

In [9]:
url_games = '/content/drive/My Drive/Data/steam_games.json.gz'

In [10]:
data_games = []
for l in parse(url_games):
    data_games.append(l)
data_games = pd.DataFrame(data_games)

In [15]:
data_games.head(2)

          publisher  ... metascore
0         Kotoshiro  ...       NaN
1  Making Fun, Inc.  ...       NaN

[2 rows x 16 columns]

In [17]:
data_games.shape

(32135, 16)

In [18]:
data_games.isnull().sum() / data_games.shape[0] *100

publisher         25.056792
genres            10.216275
app_name           0.006224
title              6.379337
url                0.000000
release_date       6.432239
tags               0.507235
discount_price    99.299829
reviews_url        0.006224
specs              2.084954
price              4.285047
early_access       0.000000
id                 0.006224
developer         10.266065
sentiment         22.349463
metascore         91.669519
dtype: float64

# Exploracion de la Data

In [19]:
# Conteo total de usuario que realizaron su reseña de videojuegos
print('Total de usuarios que realizaron su reseña:', len(data_reviews['username'].unique()))

Total de usuarios que realizaron su reseña: 540341